<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径--> 
	<property name="LOG_HOME" value="/app/tomcat/logs" />
	
	<!-- 控制台输出 -->    
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level [%X{TRADE_ID}] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 将Controller按照每天生成日志文件 --> 
	<appender name="logcontroller" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 日志输出编码 -->  
      	<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<FileNamePattern>${LOG_HOME}/web/message-center-controller-%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 存活时间（天）  -->
			<MaxHistory>365</MaxHistory>
		</rollingPolicy>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      		<pattern>%date %-4relative [%thread] %-5level [%X{TRADE_ID}] %logger{36} [%file : %line] - %msg%n</pattern>
    	</encoder>
	</appender>
	
	<!-- 将Service按照每天生成日志文件 --> 
	<appender name="logservice" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 日志输出编码 -->  
      	<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<FileNamePattern>${LOG_HOME}/service/message-center-service-%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 存活时间（天）  -->
			<MaxHistory>365</MaxHistory>
		</rollingPolicy>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      		<pattern>%date %-4relative [%thread] %-5level [%X{TRADE_ID}] %logger{36} [%file : %line] - %msg%n</pattern>
    	</encoder>
	</appender>
	
	<!-- 将Dao按照每天生成日志文件 --> 
	<appender name="logdao" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 日志输出编码 -->  
      	<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<FileNamePattern>${LOG_HOME}/dao/message-center-dao-%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 存活时间（天）  -->
			<MaxHistory>365</MaxHistory>
		</rollingPolicy>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      		<pattern>%date %-4relative [%thread] %-5level [%X{TRADE_ID}] %logger{36} [%file : %line] - %msg%n</pattern>
    	</encoder>
	</appender>
	
	<!-- 将utils按照每天生成日志文件 --> 
	<appender name="logcommons" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 日志输出编码 -->  
      	<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<FileNamePattern>${LOG_HOME}/commons/message-center-commons-%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 存活时间（天）  -->
			<MaxHistory>365</MaxHistory>
		</rollingPolicy>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      		<pattern>%date %-4relative [%thread] %-5level [%X{TRADE_ID}] %logger{36} [%file : %line] - %msg%n</pattern>
    	</encoder>
	</appender>
	
	<!-- 将Model按照每天生成日志文件 --> 
	<appender name="logmodel" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 日志输出编码 -->  
      	<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<FileNamePattern>${LOG_HOME}/model/message-center-model-%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 存活时间（天）  -->
			<MaxHistory>365</MaxHistory>
		</rollingPolicy>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      		<pattern>%date %-4relative [%thread] %-5level [%X{TRADE_ID}] %logger{36} [%file : %line] - %msg%n</pattern>
    	</encoder>
	</appender>
  	
  	<!-- 日志输出模块划分 -->
  	<logger name="cn.creditease.message.center.web" level="DEBUG">  
  		<appender-ref ref="logcontroller" />  
 	</logger>
 	<logger name="cn.creditease.message.center.service" level="DEBUG">  
  		<appender-ref ref="logservice" />  
 	</logger>
 	<logger name="cn.creditease.message.center.dao" level="DEBUG">  
  		<appender-ref ref="logdao" />  
 	</logger>
 	<logger name="cn.creditease.message.center.common" level="DEBUG">  
  		<appender-ref ref="logcommons" />  
 	</logger>
 	<logger name="cn.creditease.message.center.model" level="DEBUG">  
  		<appender-ref ref="logmodel" />  
 	</logger>
 	
	<logger name="java.sql" level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="logdao" />
	</logger>
	
	<root level="DEBUG">  
        <appender-ref ref="stdout" />  
    </root>
	
</configuration>
